
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form name="create" action="/HotelBoeking/Create" method="post">
    <div>Voornaam: <input name="Voornaam" type="text" /></div>
    <div>Achternaam: <input name="Achternaam" type="text" /></div>
    <div>Aantal Personen: <input name="AantalPersonen" type="number" /></div>
    <div>Datum: <input name="Datum" type="date" /></div>
    <div><input type="submit" value="Boeken" /></div>
</form>

