@using Week2Deel2.Models
@model HotelBoeking

@{
    ViewData["Title"] = "Verwerken";
}

<h2>Verwerken</h2>

<div>Voornaam: @Model.Voornaam</div>
<div>Achternaam: @Model.Achternaam</div>
<div>Datum: @Model.Datum</div>
<div>Bedankt voor uw boeking.</div>


