@using Week2Deel2.Models;
@model HotelBoeking

@{
    ViewData["Title"] = "Wijzigen";
}

<h2>Wijzigen</h2>

<div>Voornaam: @Model.Voornaam</div>
<div>Achternaam: @Model.Achternaam</div>
<div>Aantal Personen: @Model.AantalPersonen</div>
<div>Datum: @Model.Datum</div>
<div>Uw gegevens zijn gewijzigd.</div>
